
body {
    height: 100%;
    background: url(../images/woodbgdark.jpg) top left no-repeat;
    background-color: #000;
    background-attachment: fixed;
    background-size: cover;
    padding: 10px;
}


/* Content Area CSS */
.content {
    background-color: #f7f7f7;
    padding: 30px 0;
    max-width: 960px;
}
h1,h2,h3,h4 {
    font-family: 'Great Vibes', serif;
}
.content h1 {
    text-align: center;
    font-size: 4em; 
}
.content h2 {
    text-align: center;
    margin: 20px 0 10px 0;
}
.content p {
    padding-left: 15px;
    padding-right: 15px;
}
.tagline {
    background-color: #f7b519;
    margin-top: 25px;
    margin-left:-25px;
    margin-right: -25px;
    text-align: center;
    font-size: 1.4em;
    box-shadow: 0px 1px 1px, 0 -1px 1px;    
}
.tagline p {
    padding: 10px 0;
}
.tagline.itinerary p {
    font-family: 'Great Vibes', serif;
    font-size: 2em;
    padding: 0;
}
.itin-block {
    padding: 0px 20px;
}
.itin-block img {
    padding: 10px 10px;
}
.camp-image {
    padding: 15px 15px;
}
.content .row {
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
}
#cabins {
    margin-top: 30px;
}
#cabins .details {
    margin-top:10px
}
.row.contact {
   margin-top: 20px;
}
.container.divider {
    width:85%;
    padding: 20px;
    margin-top: 20px;
    border-top: solid 2px #CFA829;
}
.row.gallery {
    padding: 10px 20px;
}
.gallery img {
    padding: 20px 10px 20px 10px;
}
.inclusions {
    padding: 10px; 
}
.inclusions h3 {
    margin-top: 10px
}
.pricing { 
    padding: 10px;
}
.heading {
    max-width: 960px;
}
footer {
    background-color: #000;
    border: solid 1px #CFA829;
    color: #F7F7F7;
    text-align: center;
    max-width: 960px;
    margin: 0 auto;
}
footer p {
    margin: 0;
}
/* End Content Area */


/* Navbar Custom CSS */
.navbar {
    margin: 3px -12px 0 -12px;
    background-color: #000;
    border: solid 1px #CFA829;
    border-bottom: solid 2px #CFA829;
    padding: 0;
}
.nav-link {
    font-family: 'Great Vibes', serif;
    font-size: 28px;
}
.navcontainer {
    max-width: 960px;
}
.social {
    position: relative;
    margin: 5px 0;
}
img.fbhover {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: contain;
    opacity: 0;
    transition: opacity .2s;
  }
.fbhover:hover {
    opacity: 1;
}
img.instahover {
    position: absolute;
    top: 0;
    right: 0;
    left: 10;
    bottom: 0;
    object-fit: contain;
    opacity: 0;
    transition: opacity .2s;
  }
.instahover:hover {
    opacity: 1;
}
/* End Navbar */

/* Carousel on Home CSS */
.carouselcontent {
    margin-top: 20px;
    padding: 0;
    max-width: 960px;
}
/*End Carousel */

/*contact form */
.quform-inner {
    padding: 0 15px 15px 15px;
}
/* end contact form */